<div class="page-header">
  <h1><%= @user.full_name %></h1>
  <div class="profile-edit">
    <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
  </div>
</div>


<div class="About">
  <h4><p>Hobbies: <%=current_user.hobbies %>
  <p>Favorite Movies: <%=current_user.movies %>
  <p>Favorite Bands: <%=current_user.bands %>
  <p>Favorite TV Shows: <%=current_user.tv_shows %>
  <p>Favorite Books: <%=current_user.books %></h4>
</div>

<% if @statuses %>
  <% @statuses.each do |status| %>
    <div class="well">
      <%= status.content %>
      <hr />
      <%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago
    </div>
  <% end %>
<% end %>
